/node_modules
/public/hot
/public/uploads
/public/storage
/vendor
/.idea
/.git
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

public/personil/
public/logistik/transfer_masuk
public/logistik/transfer_keluar
public/logistik/pengadaan_masuk
public/logistik/hibah_masuk
public/logistik/hibah_keluar
public/logistik/report
public/logistik/pemakaian
public/kontrak
public/barang_keluar
public/barang_barang_keluar
public/ba_hibah
public/nota-dinas
public/spb
public/sprindis
public/ppm
public/kermabaktikes
public/acara_kerma
public/acara_bakti
public/dukkesops
public/PAK
public/master_aset.zip
public/cover_buku

composer.lock
